<app-login *ngIf="!(isLoggedIn$ | async); else outlet"></app-login>

<ng-template #outlet>
    <div>
        <button mat-button [routerLink]="['/home']">Home</button>
        <button mat-button [matMenuTriggerFor]="questionsMenu">Questions</button>
        <mat-menu #questionsMenu="matMenu" yPosition="below">
            <ng-container *ngIf="(unansweredQuestions$ | async | keyvalue).length">
                <div class="menu-section-title">Unanswered Questions</div>
                <app-questions [questions$]="unansweredQuestions$"></app-questions>
            </ng-container>
            <ng-container *ngIf="(answeredQuestions$ | async | keyvalue).length">
                <div class="menu-section-title">Answered Questions</div>
                <app-questions [questions$]="answeredQuestions$"></app-questions>
            </ng-container>
        </mat-menu>
        <button mat-button [routerLink]="['/add']">Add A Question</button>
        <button mat-button [routerLink]="['/leaderboard']">Leaderboard</button>
        <button mat-button (click)="logout()">Logout</button>

    </div>

    <app-user-info></app-user-info>
    <router-outlet></router-outlet>
</ng-template>
